@model Vidly.ViewModels.CustomersViewModel
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

@if (Model.Customers==null || Model.Customers.Count == 0)
{
    <text>
        No customers!
    </text>
}
else
{
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Customer
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model.Customers)
        {
            <tr>
                <td>
                    <a href="Customers/Details/@customer.Id">
                        @customer.Name
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
}


